.show-photo {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1.0);
  width: 400px;
  height: 500px;
  margin: 0 35%;
  margin-top: 10%;
  border: 2px solid white;

}

.show-photo-title {
  color: #800000;
  -webkit-text-stroke: 1px white;
  margin-left: 20px;
}

.show-photo > img {
  width: 90%;
  height: 70%;
  margin: 5% 5%;
  border: 2px solid white;
}

.show-photo > h1 {
  height: 20px;
}

.show-photo-author {
  color: white;
  font-family: "Open Sans";
  display: flex;
  margin-left: 20px;
}

.show-photo-back {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;




  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 1;
  flex-direction: column;
}
