.photo-form-back {
  position: fixed;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: 110%;
  height: 100%;
  top: 0px;




  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 110;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-form {
  display: flex;
  width: 500px;
  height: 800px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  flex-direction: column;
  border: 2px solid black;
  border-radius: 50px;
}

.top-half {
  justify-content: center;
}

.bottom-half {
  margin-bottom: 40px;
  margin-top: -100px;
}

.photo-dropzone {
  display: flex;
  width: 60%;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  margin-bottom: 80px;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid #800000;
  border-radius: 50px;
}
.photo-dropzone:hover {
  cursor: pointer;
}

.photo-form-title {
  display: flex;
  position: relative;
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}

.uploaded-img {
  margin-top: -300px;
  display: flex;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  z-index: 100;
  height: 100%;
  width: 70%;
}



.title-input {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  font-size: 20px;
}

.caption-input {
  display: flex;
  margin-bottom: 30px;
  width: 200px;
  height: 25px;
  font-size: 20px;
}

.post-button {
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #800000;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  justify-content: center;
  text-align: left;
  border: none;
  transition: all 0.5s ease;
  margin-bottom: 25px;
}

.post-button:hover {
  cursor: pointer;
  background-color: red;
}
// .uploaded-img, .uploaded-img > img{
//   position: absolute;
//   z-index: 112;
//   display: flex;
//   width: 250px;
//   height: 250px;
// }
