.welcome {
  display: flex;
}
.nav-bar, .nav-bar-profile {
  margin-top: 0px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  border-top: 2px solid #800000;
  border-bottom: 2px solid #800000;
  z-index: 5;
}

.nav-bar-profile {
  position: absolute;
}
  .logo-prof:hover {
    cursor: pointer;
  }
.logo-disc {
  text-decoration: none;
}
  .logo-disc:hover {
    cursor: pointer;
  }
.welcome-statement {
  text-shadow: 2px 2px black;
  position: absolute;
  display: flex;
  color: white;
  font-family: "Open Sans";
  z-index: 0;
  width: 60%;
  font-size: 60px;
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
}

  .welcome-statement > p {
    color: red;
  }

  .search {
    display: flex;
    position: fixed;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: -238.5px;
    z-index: 5;
  }

  .search input {
    width: 300px;
    height: 25px;
    font-family: "Open Sans";
    font-size: 20px;
  }









.photos-all {
  display: flex;
  flex-wrap: wrap;
  margin-left: 155px;
  margin-right: 200px;
  margin-top: 250px;
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: space-around;
}
// .single-home-photo-container {
//   margin: 0px 20px;
//   margin-bottom: 20px;
// }
//
// .single-home-photo {
//   width: 250px;
//   height: auto;
// }

  // the bottom code for making rotating polaroids was borrowed from paulund.co.uk
  // i refactored a bit to add different sizes/

  .single-home-photo-container {
    background-color: white;
  	display: inline;
  	float: left;
  	margin-top: 20px;
    margin-left: 40px;
  	padding: 10px 10px 20px;
    height: 100%;
  	text-align: center;
  	text-decoration: none;
  	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  	box-shadow: 0 4px 6px rgba(0,0,0,.3);
  	-webkit-transition: all .15s linear;
  	-moz-transition: all .15s linear;
  	transition: all .15s linear;
  	z-index:0;
    position:relative;
  }

  .photo-caption {
    font-family: "Brush Script MT";
    font-size: 25px;
    display: flex;
    width: 250px;
    justify-content: space-around;
  }

  .photo-caption > div:hover {
    cursor: pointer;
  }

  .single-home-photo-container:after {
    color: #333;
  	font-size: 20px;
  	content: attr(title);
  	position: relative;
  	top:15px;
  }


.single-home-photo-container:nth-child(2n)
{
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}
.single-home-photo-container:nth-child(3n) {
	-webkit-transform: rotate(-24deg);
	-moz-transform: rotate(-24deg);
	transform: rotate(-24deg);
}
.single-home-photo-container:nth-child(4n)
{
	-webkit-transform: rotate(14deg);
	-moz-transform: rotate(14deg);
	transform: rotate(14deg);
}
.single-home-photo-container:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	transform: rotate(-18deg);
}

.single-home-photo-container:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:0;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
 // the borrowed code ends here
    .single-home-photo{
      display: flex;
      width: 250px;
      border: 2px solid white;
    }
 // .single-home-photo:nth-child(2n) {
 //   display: flex;
 //   width: 100px;
 //   border: 2px solid white;
 // }
 //
 // .single-home-photo:nth-child(3n) {
 //   display: flex;
 //   width: 100px;
 //   border: 2px solid white;
 // }
 //
 // .single-home-photo:nth-child(4n) {
 //   display: flex;
 //   width: 100px;
 //   border: 2px solid white;
 // }
 //
 // .single-home-photo:nth-child(5n) {
 //   display: flex;
 //   width: 100px;
 //   border: 2px solid white;
 // }

.home-page{
  position: absolute;
  display: flex;
  background-image: url(https://res.cloudinary.com/arpannln/image/upload/v1520312928/hey.jpg);
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 0;
  flex-direction: column;

}
