.photos-all {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;

  flex-direction: row;
}
.single-home-photo-container {
  margin-left: 20px;
}

.single-home-photo {
  width: 50px;
  height: auto;
}
