

.red-heart:hover {
  cursor: pointer;
}

.gray-heart:hover {
  cursor: pointer;
}


.show-photo-image {
  display: flex;
  z-index: 1000;
  width: 100%;
  border: 2px solid white;
}

.red-heart, .gray-heart {
  margin-right: 50px;
}

.show-photo-holder {

  height: 50vh;
  width: 50vw;
  margin: auto;

}
.show-photo-caption {
  width: 100%;
  height: 70px;
  background: white;
  justify-content: space-between;
  border-right: 4px solid white;
  flex-direction: row;
  margin-top: -20px;
}

.author-holder {
  margin-left: 70%;
  margin-right: 10%;
  width: 80%;
  justify-content: flex-end;
}
.author {
  width: 80%;
  font-family: "Brush Script MT";
  text-shadow: 2px 2px black;
  color: white;
  margin-top: -60px;
}
.caption {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.caption > span {
  visibility: hidden;
  margin-left: 50px;
  font-family: "Brush Script MT";
  font-size: 24px;
}
@media only screen and (min-width: 800px) {
    .caption > span {
      visibility: visible;
    }
}

.caption > span, .caption > div {
  margin-top: 20px;
}






.show-photo-back {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 110%;
  height: 100%;
  top: 0px;




  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 210;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
