.show-photo {
  position: absolute;
  z-index: 100;
  background-color: rgba(128, 0, 0, 1.0);
  width: 400px;
  height: 400px;
  margin: 0 35%;
  margin-top: 20%;

}

.show-photo-title {
  color: white;
  -webkit-text-stroke: .3px black;
}

.show-photo > img {
  width: 100%;
  height: 90%;
  margin: 5% 5%;
}

.show-photo > h1 {
  height: 20px;
}

.show-photo-back {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;




  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 1;
  flex-direction: column;
}
