.user-cover {
  position: absolute;
  display: flex;
  width: 100%;
  height: 500px;
  z-index: 2;
  border-bottom: 10px solid black;
}
.profile-message {
  position: absolute;
  display: flex;
  color: white;
  font-family: "Open Sans";
  z-index: 3;
  width: 60%;
  font-size: 60px;
  margin-top: 100px;
  margin-left: 150px;
  display: flex;

}

.profile-message > p {
  color: red;
}


body {
  background-color: black;
}

.user-photo {
  position: absolute;
  display: flex;
  width: 350px;
  height: 350px;
  margin-top: 300px;
  margin-left: 40%;
  margin-right: 20%;
  z-index: 3;
  border: 10px solid white;
  border-radius: 500px;
}
.profile-tab {
  position: absolute;
  margin-top: 700px;
  margin-left: 175px;
  margin-right: 200px;
  display: flex;
  background-color: black;
  width: 70%;
  height: 50px;
  /* border-radius: 50px; */
}

.my-photos-link:hover {
  cursor: pointer;
  color: red;
  -webkit-text-stroke: 1px red;
}
.profile-all-photos {
  position: absolute;
  display: flex;
  margin-top: 820px;
  margin-left: 155px;
  margin-right: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 3;
  margin-bottom: 100px;
}

.profile-single-photo {
  display: inline;
  float: left;
  width: 250px;
  border: 10px solid white;
  margin-left: 40px;
  margin-bottom: 20px;
}

.my-photos-link {
  color: white;
  font-family: "Open Sans";
  font-size: 30px;
  margin-left: 70px;
  margin-top: 3px;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
}
