.welcome-page{
  position: absolute;
  display: flex;
  background: url(https://images.unsplash.com/photo-1508614279739-01c22ab4b30a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb8bfee9e704c357955978bf9d147340&auto=format&fit=crop&w=1510&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100%;
  z-index: 0;
}

.welcome-banner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  /* background-color: rgba(138,43,226,0.4); */
  background-color: rgba(0,0,255,0.6);
  margin-top: 10px;
  /* border-top: 1px solid lightblue; */
  border-bottom: 1px solid lightblue;
}

/* .welcome-greeting{
  font-family: "Open Sans";
  font-size: 45px;
  color: white;
  position: absolute;
  z-index: 0;
  display: flex;
  margin-top: 25%;
  margin-left: 30%;
  animation: type 4s steps(60, end);;
} */
/* this following animation was borrowed from Sohrab Hejazi from Stack Overflow*/
.welcome-greeting{
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 45px;
  margin-top: 18.5%;
  margin-left: 30%;
  position: absolute;
  z-index: 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end);
}

.welcome-greeting-logo{
  font-family: "Brush Script MT", cursive;
  font-size: 65px;
  display: flex;
  margin-left: 10px;
  margin-top: 51px;

}

@keyframes type{
  from { width: 0; }
}

.logo{
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
  color: white;
  display: flex;
  margin-left: 100px;
  margin-top: 0px;
}

.login-signup{
  display: flex;
  justify-content: space-between;
}

.login-button, .signup-button {
  /* font-family: "Brush Script MT", cursive; */
  font-family: "Open Sans";
  font-size: 20px;
  text-decoration: none;
  display: flex;
  color: white;
  padding-right: 20px;
  padding-top: 12px;
}

.login-button:hover, .signup-button:hover {
  color: lightblue;
}


body {
  padding: 0px;
  margin: 0px;
}
