.welcome-page{
  position: absolute;
  display: flex;
  background: url(https://images.unsplash.com/photo-1446052377488-d40ee7263458?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1e556b9eca4d41dd11d8c22739519f27&auto=format&fit=crop&w=1498&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100%;
  z-index: 0;
}

.welcome-banner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  /* background-color: rgba(138,43,226,0.4); */
  background-color: rgba(255,255,255,0.4);
  margin-top: 10px;
  /* border-top: 1px solid lightblue; */
  border-bottom: 2px solid #800000;
}

/* .welcome-greeting{
  font-family: "Open Sans";
  font-size: 45px;
  color: white;
  position: absolute;
  z-index: 0;
  display: flex;
  margin-top: 25%;
  margin-left: 30%;
  animation: type 4s steps(60, end);;
} */
/* this following animation was borrowed from Sohrab Hejazi from Stack Overflow*/
.welcome-greeting{
  color: lightgrey;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 45px;
  margin-top: 27.5%;
  margin-left: 15%;
  position: absolute;
  z-index: 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end);
  -webkit-text-stroke: .3px white;
}

.welcome-greeting-logo{
  /* font-family: "Brush Script MT", cursive; */
  font-family: "Open Sans";
  font-size: 65px;
  display: flex;
  margin-left: 10px;
  margin-top: 51px;
  color: red;
  -webkit-text-stroke: .1px #800000;

}

@keyframes type{
  from { width: 0; }
}

.logo{
  font-family: "Brush Script MT", cursive;
  font-size: 50px;
  color: red;
  -webkit-text-stroke: .1px #800000;
  display: flex;
  margin-left: 100px;
  margin-top: 0px;
}

.login-signup{
  display: flex;
  justify-content: space-between;
}

.login-button, .signup-button {
  /* font-family: "Brush Script MT", cursive; */
  font-family: "Open Sans";
  font-size: 20px;
  text-decoration: none;
  display: flex;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 12px;
  justify-content: center;
  border-radius: 50px;
}

.signup-button {
  background-color: #800000;

}
.login-button:hover{
  color: #800000;
}

.signup-button:hover{
  background-color: #FF0000;
}


body {
  padding: 0px;
  margin: 0px;
}
