.welcome-page{
  position: absolute;
  display: flex;
  background: url(https://images.unsplash.com/photo-1516844113229-18646a422956?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=840954969b28155686dc553bcc926bf0&auto=format&fit=crop&w=1049&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.welcome-banner{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  /* background-color: rgba(138,43,226,0.4); */
  background-color: rgba(0,0,0,0);
  /* border-top: 1px solid lightblue; */
}
.welcome-logout {
  font-family: "Open Sans";
  font-size: 16px;
  display: flex;
  width: 120px;
  height: 35px;
  color: rgba(256,256,256,1);
  background-color: #B9090B;
  border-radius: 5px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: -35px;
  border: none;
  transition: all 0.5s ease;
  justify-content: center;
}

.welcome-logout:hover {
  background-color: red;
  cursor: pointer;
}


.discover-welcome-logout {
  font-family: "Open Sans";
  font-size: 16px;
  display: flex;
  width: 120px;
  height: 35px;
  color: white;
  background-color: #800000;
  border-radius: 5px;
  margin-left: 70px;
  margin-right: -100px;
  margin-top: -29px;
  transition: all 0.5s ease;
  justify-content: center;
  text-align: center;
}

.logout-text {
  margin-top: 4.0px;
}

.discover-welcome-logout:hover {
  color: red;
  cursor: pointer;
}
.upload-button {
  display: flex;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-size: 16px;
  margin-top: 12px;
  margin-right: 160px;
  margin-left: -50px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.upload-button:hover{
  color: #800000;
}
.discover-button{
  display: flex;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-size: 16px;
  transition: all 0.5s ease;
  margin-left: 270px;
  margin-top: -74px;
}

.profile-button {
  display: flex;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-size: 21.5px;
  margin-top: 10px;
  margin-right: 160px;
  text-decoration: none;
}

.profile-button:hover, .discover-button:hover{
  cursor: pointer;
  color: #800000;
  -webkit-text-stroke: .1px #800000;
}

.nav-user-photo {
  width: 30px;
  height: 30px;
}
.nav-user-photo:hover {
  opacity: 0.8;
}


/* .welcome-greeting{
  font-family: "Open Sans";
  font-size: 45px;
  color: white;
  position: absolute;
  z-index: 0;
  display: flex;
  margin-top: 25%;
  margin-left: 30%;
  animation: type 4s steps(60, end);;
} */
/* this following animation was borrowed from Sohrab Hejazi from Stack Overflow*/
.welcome-greeting{
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 80%;
  position: absolute;
  flex-direction: column;
  text-align: center;
  margin-top: 20%;
  z-index: 1;
  display: flex;
  color: white;
  text-shadow: 3px 3px 3px black;
  width: 30%;
  min-width: 400px;
  margin-left: 35%;
  margin-right: 35%;
}

.caption {
  font-size: 150%;
  justify-content: center;
  margin-top: -18%;
}

.splash-logo {
  margin-top: 0px;
  font-size: 750%;
  color: #B9090B;
  text-shadow: 3px 3px 3px black;
}


.welcome-greeting-logo{
  /* font-family: "Brush Script MT", cursive; */
  font-family: "Open Sans";
  font-size: 200%;
  display: flex;
  margin-left: 10px;
  margin-top: 51px;
  color: red;
  -webkit-text-stroke: .1px #800000;

}




.nav-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.logo{
  font-family: "Open Sans";
  font-size: 40px;
  color: red;
  -webkit-text-stroke: .1px #B9090B;
  display: flex;
  margin-left: 100px;
  margin-top: 0px;
  transition: all 0.5s ease;
}

.login-signup{
  display: flex;
  justify-content: space-between;
}

.login-button {
  /* font-family: "Brush Script MT", cursive; */
  font-family: "Open Sans";
  font-size: 16px;
  text-decoration: none;
  display: flex;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 14px;
  transition: all 0.5s ease;
  justify-content: center;
  border-radius: 50px;
  align-content: center;
}

.signup-button {
  font-family: "Open Sans";
  font-size: 16px;
  display: flex;
  width: 120px;
  height: 35px;
  color: white;
  border-radius: 5px;
  margin-top: 7.5px;
  margin-right: 5px;
  background-color: #B9090B;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease;
}
.signup-text {
  display: flex;
  margin-top: 5px;


}
.login-button:hover{
  color: #B9090B;
}


.signup-button:hover{
  background-color: #FF0000;
  // transform: translate(0px, 5px);
  // -webkit-transform: translate(0px, 5px);


}


body {
  padding: 0px;
  margin: 0px;
}
