<!DOCTYPE html>
<html>
  <head>
    <title>P500X</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="../../assets/stylesheets/api/welcome_page.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/api/session_modal.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link
  </head>

  <body>
    <%= yield %>
  </body>
</html>
